# Byte-compiled / compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# PyInstaller
*.spec
dist/
build/
*.exe

*.db-journal
.vscode/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

.env